@import "tailwindcss";
@layer base {
  html {
    @apply bg-black w-full h-full;
  }

  :root {
    --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  }
}

@layer utilities {
  .font-system {
    font-family: var(--font-family-system);
    letter-spacing: -0.01em;
  }
  .scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
  }
  
}