---
// Layout.astro
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Linear-clone</title>
  </head>
  <body class="bg-black text-white w-full min-h-screen pt-16 sm:pt-20 overflow-x-hidden">
    <slot />
  </body>
</html>